/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: Arial;
    font-weight: 300;
    background-image: url(/static/logo/latar.png);
}

photo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}

#backgroundLP {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.4)), url('https://lh3.googleusercontent.com/xwYLJPzdGKjG0vvh7ObUHCNa7y2v6PI1NtsgDWiIKE8P5epzYHi1doVfWmOyh2OkneEDquoXKEtu-h6Mxa9-Si8AGxdtr0emI0uchSa9Pzd_PFGzMSISbGd2EgeJU63jRR5QdxnqxA=w2400');
    background-size: 100%
}

.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
}

.masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    background-color: rgba(0, 46, 102, 0.8);
    transform: skewY(4deg);
    transform-origin: bottom right;
}

.masthead .masthead-content h1 {
    font-size: 2.5rem;
}

.masthead .masthead-content p {
    font-size: 1.2rem;
}

.masthead .masthead-content p strong {
    font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
    height: auto;
    font-size: 1rem;
    padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        min-height: 0;
        width: 40.5rem;
        padding-bottom: 0;
    }
    .masthead .masthead-bg {
        min-height: 0;
        transform: skewX(-8deg);
        transform-origin: top right;
    }
    .masthead .masthead-content {
        padding-left: 3rem;
        padding-right: 10rem;
    }
    .masthead .masthead-content h1 {
        font-size: 3.5rem;
    }
    .masthead .masthead-content p {
        font-size: 1.3rem;
    }
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 18px 16px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #0C9; */
    /* color: #FFF; */
    border-radius: 50px;
    text-align: center;
    /* box-shadow: 2px 2px 3px #999; */
}

.logo {
    color: white;
    font-size: 40px;
}

.menu {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.pesan {
    align-self: flex-start;
}

.tabelsaran {
    padding: 2vh 0vw 2vh;
}

.caption {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saran {
    margin-top: 5vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}


/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/*Collapsible*/


/* Style the button that is used to open and close the collapsible content */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/*swiper*/

.swiper-container {
    height: 500px;
}

.swiper-slide {
    background: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}