{% extends 'base.html' %}

    {% block meta %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            overflow-y:scroll;
            height:100px;
            display: inline-table;
        }
        .container-fluid {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 60px;
            padding-right: 60px;
        }
        .container-fluid2 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 3%;
        }
        .container-fluid3 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 10px;
        }
        table th{
            text-align: center;
            font-size: 20px;
            background-color: #F6DB00;
            padding: 4px 30px 4px 8px;
            /* border: 2px solid #000000; */
            box-shadow: #000000;
        }
        table td{
            border: 2px solid #ffffff;
            padding: 4px 8px;
        }
        table tr:nth-child(odd) td{
            background-color: #FCF4B3;
        }
        table tr:nth-child(even) td{
            background-color: FCF4B3;
        }
    </style>
    {% endblock meta %}

    {% block content %}
        <h3 style="margin-bottom: 3%;">Tambahkan lagu baru</h3>
        <form action="save" method="POST" style="padding: 2px;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="text-align: center;">
                {{ s_form.as_p }}
            </div>
            <br>
            <div class="row">
                <div class="com-sm-12 col-md-6" style="margin-left: 35%;">
                    <button type="submit" class="btn" style="border-radius: 20px; background-color: #F6DB00;" id="bton">Tambah Lagu</button>
                </div>
            </div>

           </form>
{% endblock content %}