{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            overflow-y:scroll;
            height:100px;
            display: inline-table;
        }
        .play-table {
            margin-left: 3%;
            margin-right: 3%;
        }
        a {
            color: black;
        }
        .container-fluid {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 60px;
            padding-right: 60px;
        }
        .container-fluid2 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5%;
        }
        .container-fluid3 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 10px;
        }
        table th{
            text-align: center;
            font-size: 20px;
            background-color: #F6DB00;
            height: 55px;
        }
        table td{
            border: 2px solid #ffffff;
            text-align: center;
        }
        table tr:nth-child(odd) td{
            background-color: #FCF4B3;
        }
        table tr:nth-child(even) td{
            background-color: FCF4B3;
        }
        .fa {
            padding: 10px;
            font-size: 150%;
            text-align: center;
            text-decoration: none;
            margin-left: 0;
            margin-right: 0;
        }
        .fa-trash {
            color: gray;
        }
        .top-buttons {
            margin-top: 25px;
            margin-bottom: 37px;
        }
        
    </style>
    {% endblock meta %}

    {% block content %}
        <h2>Semua lagu dengan kontributor {{cont}}</h2>
        <div class="top-buttons">
            <a href="/playlist/addsong" class="container-fluid3" style="float: right;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Tambahkan lagu</button>
            </a>
            <a href="/playlist/" style="margin-left: 20px;">
                <button type="submit" class="btn" style="background-color: #F6DB00; border-radius: 20px;">Kembali ke playlist</button>
            </a>
        </div>
        <div class="play-table">
            <table>
                <tr>
                    <th style="width: 45%;" scope="col">Judul</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Link</th>
                    <th></th>
                </tr>
                {% for s in songs %}
                <tr>
                    <td style="width: 45%; text-align: left; padding-left: 2%;" scope="row">{{s.judul}}</td>
                    <td scope="row">
                        <a href="/playlist/filter/genre/{{s.genre}}">{{s.genre}}</a>
                    </td>
                    <td scope="row"><a href="{{s.link}}">Klik disini</a></td>
                    <td><a href="/playlist/delete/{{s.id}}" class="fa fa-trash"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock content %}