{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Home</title>
{% endblock meta %} {% block content %}

<div class="container saran">
    <div class="menu">
        <h2>Web ini masih dalam tahap pengembangan, setiap saran yang diberikan sangat berharga bagi kami<h2>
        <h5 class="pesan">- StudBuddy Dev Team</h5>
    </div>
    <!-- Modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Tambahkan Saran</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambahkan Saran</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-input">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form_saran }}
                                <br>
                                <button type="Submit" class="btn btn-success btn-block tombol">Tambahkan</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        {% if size > 0 %}
        <div class="tabelsaran">
                <table class="table table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th scope="col">Nama</th>
                        <th scope="col">Saran</th>
                        <th scope="col">Waktu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saran in sarans %}
                    <tr>
                        <td>{{ saran.nama }}</td>
                        <td>{{ saran.saran}}</td>
                        <td>{{ saran.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="caption">
                <h2> </h2>
                <h2>-Belum ada saran dimasukan-</h2>
                <h2> </h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}