{% extends 'base.html' %}

    {% block meta %}
    {% load static %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            overflow-y:scroll;
            height:100px;
            display: inline-table;
        }
        .container-fluid {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 60px;
            padding-right: 60px;
            background-color: #f8f6e8;
            background-image: url(/static/latar.png);
        }
        .container-fluid2 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5%;
        }
        .container-fluid3 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 10px;
        }
        table th{
            text-align: center;
            font-size: 20px;
            background-color: #f8c246;
            padding: 4px 30px 4px 8px;
        }
        table td{
            border: 2px solid #ffffff;
            padding: 4px 8px;
        }
        table tr:nth-child(odd) td{
            background-color: #ffdc89;
        }
        table tr:nth-child(even) td{
            background-color: #fff9d7;
        }
        
        
    </style>
    {% endblock meta %}

    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 container-fluid3">
                    <table>
                        <tr>
                            <th>Nama</th>
                            <th>Nama Matkul</th>
                        </tr>
                        {% for i in datas %}
                            <tr>
                                <td>
                                    <a style="color: #555555;" href="/catatan/{{ i.nama }}">
                                        <p style="text-align: center;">{{ i.nama }}</p>
                                    </a>
                                </td>
                                <td>
                                    <p style="text-align: center;">{{ i.matkul }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div> 
                <div class="com-sm-12 col-md-6 container-fluid2">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            {% for i in data %}
                        <div style="font-size: 30px;">
                            <div class="row">
                                <div class="com-sm-6">
                                    <img src="{% static 'profile.svg'%}" class="img-responsive margin" style="display: inline; height: 100px;">
                                </div>
                                <div class="com-sm-6 " style="margin-left: 6%; margin-top: 2%;">
                                    <p style="font-size: 30px;">{{i.nama}}</p>
                                    <p style="font-size: 20px; line-height: 0.9; padding-bottom: 1%;">{{i.fakultas}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="size">
                            <p>Nama Matkul:</p>
                            <p style="font-size: 23px; line-height: 1;">{{i.matkul}}</p>
                        </div>
                        <div class="size">
                            <p>Deskripsi Catatan:</p>
                            <p style="font-size: 20px; line-height: 1;">{{i.deskripsi}}</p>
                        </div>
                        <div class="size">
                            <p>Link Catatan:</p>
                            <p style="font-size: 20px; line-height: 1;"> {{i.link}}
                            <a href="{{i.link}}">    
                            <button type="submit" class="btn" style="background-color: #f5ce23; border-radius: 20px;">Menuju Link</button>
                            </a>
                            </p>
                            
                        </div>
                        <br>
                        <div class="row" style="margin-left: 35%;">
                            <div class="com-sm-6" >
                                <a href="/catatan">
                                    <button type="submit" class="btn" style="background-color: #f8c246; border-radius: 20px; ">Kembali</button>
                                </a>
                            </div>
                            <div class="com-sm-6">
                                <a href="/catatan/delete/{{ i.nama }}">
                                    <button type="submit" class="btn" style="background-color: #f8c246; border-radius: 20px; margin-left: 8%;">Hapus</button>
                                </a>
                            </div>
                        </div>
                        <br><br>
                        {% endfor %}
                        </div>
                    </div>
                    </div>   
                </div>
        </div>
    {% endblock content %}