{% extends 'base.html' %}

    {% block meta %}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            overflow-y:scroll;
            height:100px;
            display: inline-table;
        }
        .container-fluid {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 60px;
            padding-right: 60px;
            background-color: #f8f6e8;
            background-image: url(/static/latar.png);
        }
        .container-fluid2 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 3%;
        }
        .container-fluid3 {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 10px;
        }
        .container-fluid4{
            padding-top: 220px;
            padding-bottom: 220px ;
        }
        table th{
            text-align: center;
            font-size: 20px;
            background-color: #f8c246;
            padding: 4px 30px 4px 8px;
            /* border: 2px solid #000000; */
            box-shadow: #000000;
        }
        table td{
            border: 2px solid #ffffff;
            padding: 4px 8px;
        }
        table tr:nth-child(odd) td{
            background-color: #ffdc89;
        }
        table tr:nth-child(even) td{
            background-color: #fff9d7;
        }
        .bg1{
            background-image: url(/static/bg1.jpg);
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: #ffffff;
        }
        .aturan{
            text-align: right;
            padding-right: 7%;
            line-height: 1.2;
        }
        .button1 {
        display: inline-block;
        border-radius: 10px;
        background-color: #f0f0f0;
        border: none;
        color: #151515;
        text-align: center;
        font-size: 25px;
        padding: 10px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        }

        .button1 span {
        cursor: progress;
        display: inline-block;
        transition: 0.5s;
        }

        .button1 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        }

        .button1:hover span {
        padding-right: 25px;
        }

        .button1:hover span:after {
        opacity: 1;
        right: 0;
        }
    </style>
    {% endblock meta %}

    {% block content %}
    <div class="container-fluid4 bg1 aturan">
        <p style="font-size: 90px; font-family: 'Caveat', cursive;" class="mx-auto my-0 text-uppercase">Hello!</p>
        <p style="font-size: 40px; font-family: 'Caveat', cursive;" class="mx-auto my-0 text-uppercase">This page can keep your notes and <br>share your notes to others!</p><br>
        <button class="button1" style="vertical-align:middle"><span></span><a style="color: #151515; font-family: 'Caveat', cursive; font-size: 35px;" href="#catatanTambah">Start!</a> </span>
    </div>
    <div class="container-fluid" id="catatanTambah">
        <div class="row" >
            <div class="col-sm-12 col-md-6 container-fluid3">
                <div id="catatanTerdaftar">
                    <table>
                        <tr>
                            <th>Nama</th>
                            <th>Nama Matkul</th>
                        </tr>
                        {% for i in data %}
                            <tr>
                                <td>
                                    <a style="color: #555555;" href="/catatan/{{ i.nama }}">
                                        <p style="text-align: center;">{{ i.nama }}</p>
                                    </a>
                                </td>
                                <td>
                                    <p style="text-align: center;">{{ i.matkul }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div> 
            <div class="col-sm-12 col-md-6 container-fluid2"> 
                <div class="card shadow-sm p-3 mb-5 rounded bg-white">
                    <div class="card-body">
                        <h4 style="text-align: center; font-size: 30px;"> Tambah Catatan </h4>
                        <br>
                        <div id="catatanIsi">
                            <form id="form" style="padding: 2px;" method="POST" action="/catatan/post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group" style="text-align: center;">
                                    {{ form_tambah.as_p }}
                                </div> 
                                <br>
                                <div class="row">
                                    <div class="com-sm-12 col-md-6" style="margin-left: 35%;">
                                    <button type="submit" class="btn" style="border-radius: 20px; background-color: #f8c246;" id="bton">Tambah ke Catatan</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        
{% endblock content %}